!!!
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Gifting Block&trade; - Getting Started
		link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='css/custom.css')
		link(rel='stylesheet', href='css/bootstrap-modal.css')
		
		link(rel='stylesheet', href='css/flat-ui.css')
		link(rel='shortcut icon', href='images/favicon.ico')
		
		link(rel='stylesheet', href='http://fuelcdn.com/fuelux/2.2/css/fuelux.css')
		link(rel='stylesheet', href='http://fuelcdn.com/fuelux/2.2/css/fuelux-responsive.css')
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",type="text/javascript")
		script(src="http://fuelcdn.com/fuelux/2.2/loader.min.js",type="text/javascript")
		
		| <!--[if lt IE 9]> script(type='text/javascript', src='js/html5shiv.js')<![endif]-->
	body
		// Begin Top Bar
		div.navbar.navbar-inverse
			div.navbar-inner
				div.container-fluid
					button.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="#" ,name="top")
						img(src="img/finale-logo.png")
					div.nav-collapse.collapse
						ul.nav
							li.offset1
								a(href="#")
									div.input-append
										input.input-xxlarge(type="text", name="Search")
										span.add-on
											i.fui-eye(style="color:#000")
						ul.nav.pull-right.hidden-tablet(style="margin-top: 15px; margin-left: 15px; margin-right: 50px;")
							li
								a(href="#")
									img(src="img/little-box.png" ,width="24px", height="24px") span.hidden-desktop Notifications
									span.navbar-new-bt 1
							li
								a(href="/profile")
									span.fui-user
									span.hidden-desktop My Profile
								ul
									li
										a(href="/edit-profile") 
											i.icon-pencil.icon-white
											| Edit Your Profile
									li.divider
									li
										a(href="#")
											i.icon-th-large.icon-white
											| Find Friends
									li
										a(href="mailto:support@giftingblock.com")
											i.icon-envelope.icon-white
											| Contact Support
							
							li.active
								a(href="/products")
									img(src="img/cart.png",width="24px", height="24px")
									span.hidden-desktop Browse Products
								ul
									li
										a(href="/shopping-cart")
											i.icon-shopping-cart.icon-white
											| My Shopping Cart
							li
								a(href="/settings" ,alt="Settings",title="Your Settings", rel="nofollow")
									span.fui-gear
									span.hidden-desktop Settings
								ul(style="width:125px;")
									li
										a(href="/logout")
											i.icon-off.icon-white
											| Log Out
		div.container-fluid
			div.fuelux
				div#MyWizard.wizard
					ul.steps
						li.active(data-target="#step1")
							span.badge.badge-info 1
							| Contact Information
							span.chevron
						li(data-target="#step2")
							span.badge 2
							| Sizes/Measurements
							span.chevron
						li(data-target="#step3")
							span.badge 3
							| Confirm
							span.chevron
					div.actions
						button.btn.btn-small.btn-prev(type="button")
							i.icon-arrow-left
							| Prev Step
						button#ibtnnext.btn.btn-small.btn-next(type="button", data-last="Finish")
							| Next Step
							i.icon-arrow-right
				div.step-content
					div.step-pane.active.well(id="step1")
						br
						form#gsStep1.form-signin
							p.form-signin-heading Please Enter the Following Information Below!
							div.control-group
								label.lead(for="gsPass1") Create a Password
								hr
								label Password
								input#gsPass1.span3( type="password" ,maxlength="20",placeholder="Password", required)
								input#gsPass2.span3( type="password" ,maxlength="20",placeholder="Confirm Password", required)
							div.control-group
								label.lead(for="Contact Info") Contact Information
								hr
								label Address
								input#gsAdd1.span5( type="text" ,placeholder="Address 1", required)
								br
								input#gsAdd2.span5( type="text" ,placeholder="Address 2 ")
								br
								input#gsAddCity.span2(type="text",placeholder="City",required)
								select#gsAddState.input-medium.bfh-states(data-country="US", data-state="")
								input#gsAddZip.span2(type="text",maxlength="5",placeholder="Zip Code",required)
							br
							div.control-group
								label Phone Number
								input#gsPhone.input-medium.bfh-phone(type="text" ,data-format="+1 (ddd) ddd-dddd")
							div.control-group
								label Gender
								select#gsGender.span2(name="gender")
									option(value="") Please Select
									option(value="Male") Male
									option(value="female") Female
						p Profile Picture (Upload) (optional)
					div.step-pane.well(id="step2")
						form#gsStep2
							p.form-signin-heading.lead Please Enter the Following Information Below!
							p
								| If you don't know your sizes or want to learn how to size yourself
								a(href="#sizes-full-width", data-toggle="modal", title="Clothing Size Information - Gifting Block" ,target="_blank") click here
							fieldset
								label.checkbox.primary(for="checkbox1")
									span.icons
										span.first-icon.fui-checkbox-unchecked
										span.second-icon.fui-checkbox-checked
									input#checkbox1(type="checkbox",data-toggle="checkbox")
									| Right Handed
								label.checkbox.primary(for="checkbox2")
									span.icons
										span.first-icon.fui-checkbox-unchecked
										span.second-icon.fui-checkbox-checked
									input#checkbox2(type="checkbox",data-toggle="checkbox")
									| Left Handed
							p
								| Sizes &amp; Measurements Fieldset (Text fields or Dropdowns)<br>
								| Torso Sizes &amp; Measurements<br>
								| Lower Body Sizes &amp; Measurements<br>
								| Head, Hands/Wrists &amp; Feet Sizes &amp; Measurements<br>
								| The user must also select the default privacy settings for their measurements (Public, Protected or Private)<br>
					div#step3.step-pane
			div#footer
				p.pull-left(style="font-size: 10px;") &copy; 2013 Gifting Block, LLC. All Rights Reserved
				p.pull-right(style="font-size: 10px;") Brought to you by 
					a(href="http://www.empoweredmediagroup.com/" ,alt="Empowered Media Group, LLC." ,title="Brought to You By Empowered Media Group") Empowered Media Group, LLC.
		form#allstepsform(method="post",action="/saveprofile")
		script.
			$("#myWizard").wizard();
		script(src="js/formhelper/bootstrap-formhelpers-phone.format.js")
		script(src="js/formhelper/bootstrap-formhelpers-phone.js")
		script(src="js/formhelper/bootstrap-formhelpers-states.en_US.js")
		script(src="js/formhelper/bootstrap-formhelpers-states.js")
		script(src="js/formhelper/bootstrap-formhelpers-datepicker.en_US.js")
		script(src="js/formhelper/bootstrap-formhelpers-datepicker.js")
		script(src="js/jquery-1.8.3.min.js")
		script(src="js/jquery-ui-1.10.3.custom.min.js")
		script(src="js/jquery.ui.touch-punch.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/bootstrap-select.js")
		script(src="js/bootstrap-switch.js")
		script(src="js/flatui-checkbox.js")
		script(src="js/flatui-radio.js")
		script(src="js/jquery.tagsinput.js")
		script(src="js/jquery.placeholder.js")
		script(src="js/jquery.stacktable.js")
		script(src="js/application.js")
		script(src="js/bootstrap-modalmanager.js")
		script(src="js/bootstrap-modal.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-40554682-2', 'giftingblock.com');
			ga('send', 'pageview');
		script.
			var gbool;
			function step1Val()
			{
				var shtml=$("#step3").html();
				var bool=true;
				if ($("#gsPass1").val().length<1)
				{
					alert("Password should be at least 1 letter!");
					bool=false;
				}
				else
				{
					if ($("#gsPass1").val()!=$("#gsPass2").val())
					{
						alert("Password doesn't match");
						bool=false;
					}
				}
				if($.trim($("#gsAdd1").val())=="")
				{
					shtml+="<div>Address1: undefined</div>";
					alert("Please input Address1!");
					bool=false;
				}
				else
				{
					shtml+="<div>Address1: "+$("#gsAdd1").val()+"</div>";
				}
				if($.trim($("#gsAdd2").val())=="")
				{
					shtml+="<div>Address2: undefined</div>";					
				}
				else
				{
					shtml+="<div>Address2: "+$("#gsAdd2").val()+"</div>";
				}
								
				if($.trim($("#gsAddCity").val())=="")
				{
					shtml+="<div>City: undefined</div>";
					alert("Please input the city!");
					bool=false;
				}
				else
				{
					shtml+="<div>City: "+$("#gsAddCity").val()+"</div>";
				}
				if($.trim($("#gsAddState").val())=="")
				{
					shtml+="<div>State: undefined</div>";
					//alert("Please input state!");
					//bool=false;
				}
				else
				{
					shtml+="<div>State: "+$("#gsAddState").val()+"</div>";
				}
				
				if($.trim($("#gsAddZip").val())=="")
				{
					shtml+="<div>Zip: undefined</div>";
					alert("Please input the zip!");
					bool=false;
				}
				else
				{
					shtml+="<div>Zip: "+$("#gsAddZip").val()+"</div>";					
				}
				
				if($.trim($("#gsPhone").val())=="")
				{
					shtml+="<div>Phone: undefined</div>";					
				}
				else
				{
					shtml+="<div>Phone: "+$("#gsPhone").val()+"</div>";
				}
				
				if($.trim($("#gsGender").val())=="")
				{
					shtml+="<div>Gender: undefined</div>";
					alert("Please select the gender!");
					bool=false;
				}
				else
				{
					shtml+="<div>Gender: "+$("#gsGender").val()+"</div>";
				}
				$("#step3").html(shtml);
				return bool;
			}
			$("#ibtnnext").click(function(e)
			{
				alert("heres234");
				event.stopImmediatePropagation();
			})
			
			$("#ibtnnext").click(function(e)
			{
				if ($("#step1").hasClass("active"))
				{
					$("#step3").html("<div>First name: #{fn} </div>"+"<div>Last name: #{ln} </div>"+"<div>Email: #{em} </div>");
					alert("here");
					event.stopImmediatePropagation();
					
					//gbool=step1Val();
				}
				else if ($("#step2").hasClass("active"))
				{
					var right=$("#checkbox1").attr("checked");
					var left=$("#checkbox2").attr("checked");
					if (right=="checked")
						$("#step3").html($("#step3").html()+"<div>Right Handed</div>");
					if (left=="checked")
						$("#step3").html($("#step3").html()+"<div>Left Handed</div>");	
				}
				else if($("#step3").hasClass("active"))
				{
					if (gbool==true)
					{
						var formobj=$("#allstepsform");
						fhtml="<input type='hidden' name='fmpass' value='"+$("#gsPass1").val()+"'>";
						fhtml+="<input type='hidden' name='fmfn' value='#{fn}'>";
						fhtml+="<input type='hidden' name='fmln' value='#{ln}'>";
						fhtml+="<input type='hidden' name='fmem' value='#{em}'>";
						fhtml+="<input type='hidden' name='fmadd1' value='"+$("#gsAdd1").val()+"'>";
						fhtml+="<input type='hidden' name='fmadd2' value='"+$("#gsAdd2").val()+"'>";
						fhtml+="<input type='hidden' name='fmcity' value='"+$("#gsAddCity").val()+"'>";
						fhtml+="<input type='hidden' name='fmstate' value='"+$("#gsAddState").val()+"'>";
						fhtml+="<input type='hidden' name='fmzip' value='"+$("#gsAddZip").val()+"'>";
						fhtml+="<input type='hidden' name='fmphone' value='"+$("#gsPhone").val()+"'>";
						fhtml+="<input type='hidden' name='fmgender' value='"+$("#gsGender").val()+"'>";
						fhtml+="<input type='hidden' name='fmright' value='"+$("#checkbox1").attr("checked")+"'>";
						fhtml+="<input type='hidden' name='fmleft' value='"+$("#checkbox1").attr("checked")+"'>";
						formobj.html(fhtml);
						formobj.submit();						
					}
					else
					{
						alert("Please go back and fill the necessary information!");
					}
				}
				else
				{
				}
			}
			);